{% extends "basic.html" %}

{% block title %}Send Message - Pak Chat{% endblock %}

{% block css %}
input[type='text'], input[type='submit'] {
	display: inline;
	
}
input[type='text'] {
	width: 70%
}

#messageSection {
	margin-top: 90%;
	display: fixed;
	top: 0;

}

{% endblock %}

{% block body %}
<div class="my-3 container">
	<h1>Community Messages: </h1>
	{% for message in messages %}
	<h3>{{message.user}} at {{message.timestamp}}</h3>
	<p>{{message.message}}</p>
	{% endfor %}
</div>

<section class="my-3 container" id="messageSection">
		<form action="" method="POST">
			{% csrf_token %}
			<label for="message" class="form-label">Write Your Name:</label>
            <input type="text" name="user" class="form-control" id="user">
            <br>
            <label for="message" class="form-label">Write Your Message:</label>
            <input type="text" name="message" class="form-control" id="message">
            <input type="submit" class="btn btn-outline-primary" value="Send">
        </form>
</section>
<div>
	
</div>
{% endblock %}