{% extends "basic.html" %}

{% block title %}Send Message - Pak Chat{% endblock %}

{% block css %}
input[type='text'], input[type='submit'] {
	display: inline;
	
}
input[type='text'] {
	width: 70%
}

#messageSection {
	margin-top: 90%;
	display: fixed;
	top: 0;

}

{% endblock %}

{% block body %}
<div class="my-3 container">
	<h1>Real-Time Chat with Friends: </h1>
	{% for message in messages %}
	<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ message.timestamp }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ message.user }}</h5>
    <p class="card-text">{{ message.message }}</p>
  </div>
</div>
	{% endfor %}
</div>

<section class="my-3 container" id="messageSection">
		<form action="" method="POST">
			{% csrf_token %}
			<label for="message" class="form-label">Write Your Name:</label>
            <input type="text" name="user" class="form-control" id="user">
            <br>
            <label for="message" class="form-label">Write Your Message:</label>
            <input type="text" name="message" class="form-control" id="message">
            <input type="submit" class="btn btn-outline-primary" value="Send">
        </form>
</section>
<div>
	
</div>
{% endblock %}